.not-active{
    font-family: 'Montserrat Subrayada', sans-serif;
    color: #8b0000;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}